body {
    text-align: center;
    background-color: #70A9A1;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 30px;
    color: #1F363D;
    background-color: rgba(255, 255, 255, 0.85);
}

h2 {
    margin: 30px;
}

section {
    margin: 250px auto 0 auto;
}

a {
    display: block;
    background-color: #9EC1A3;
    font-size: 30px;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 20px 0;
    color: #1F363D;
    transition: color .2s, font-size .5s, padding .5s;
}

a:hover {
    color: #B1EDE8;
    font-size: 40px;
    padding: 15px 10px;
}